<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="konkukSW.MP2019.roadline">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity android:name=".UI.money.ShowDetailMoneyActivity" />
        <activity android:name=".UI.date.AddSpotActivity" />
        <activity android:name=".UI.money.AddMoneyActivity">
        </activity>
        <activity android:name=".UI.photo.ShowPhotoActivity" />
        <activity android:name=".UI.money.ShowMoneyActivity" />
        <activity android:name=".UI.date.ShowDateActivity" />
        <activity android:name=".UI.date.PickDateActivity" />
        <activity android:name=".UI.MainListActivity" />
        <activity
            android:name=".UI.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>